<!--
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../css/common.css" type="text/css" />
    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <title>ユカタスナップ</title>
-->
<% theme_kbn = params[:theme_kbn].to_i %>
<% info = Theme.info[theme_kbn] %>
<%= form_for(@theme) do |f| %>
<div class="contentHeader">
  <%= link_to "戻る", women_path, :class => "backBtn" %>
  <h1 class="contentTitle">ユカタスナップの取り方</h1>
</div>
<div class="coontentBody">
  <p><img src="/static/img/snap/snap<%= theme_kbn %>.jpg" width="100%" alt=""></p>
  <h2 class="subTitle">ミッション</h2>
  <p class="themeTxt"><%= info[:mission].html_safe %></p>
  <p><%= info[:mission_text].html_safe %></p>
  
  <div class="hintBox">
    <h3 class="hintTitle">ヒント</h3>
    <p><%= info[:hint_text].html_safe %></p>
  </div>
</div>
<div class="contentFooter">
  <!-- <button id="falseInput" class="btnReset"><img src="/static/img/snap/camera.png" height="30" alt=""></button> -->
  <%= f.submit :class => "btn" %>
  <%= link_to "SKIP", skip_themes_path(:theme_kbn => @theme.theme_kbn, :woman_id => @theme.woman_id), :class => "skipBtn" %>
  <%#= f.submit %>
</div>

<!-- <input id="fileInput" type="file" style="display:none;" /> -->
<%#= f.file_field :photo, :class => "fileInput", :style => "display:none;" %>
<%= f.file_field :photo, :class => "fileInput" %>

<!--
<script>
  $('.fileInput').change(function(){
    // 1. 選択されたファイルがない場合は何もせずにreturn
    if (!this.files.length) {
      return;
    }

    var file = this.files[0],            // 2. files配列にファイルが入っています
      $_img = $(this).siblings('img'), // 3. jQueryのsiblingsメソッドで兄弟のimgを取得
      fileReader = new FileReader();   // 4. ファイルを読み込むFileReaderオブジェクト

    // 5. 読み込みが完了した際のイベントハンドラ。imgのsrcにデータをセット
    fileReader.onload = function(event) {
      // 読み込んだデータの処理
      //location.href = "theme2.html";
      $("#new_theme").submit();
    };

    // 6. 画像読み込み
    fileReader.readAsDataURL(file);
  });

  // input type="file"のスタイルは変え難いので別のボタンから発火させる
  $(document).ready( function() {
    $('#falseInput').click(function(){
      $(".fileInput").click();
    });
  });
</script>
-->

<%= f.hidden_field :woman_id %>
<%= f.hidden_field :theme_kbn %>
<% end %>
